[submodule ".zgen"]
	path = .zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/WRMilling/vim-config.git
[submodule ".zsh"]
	path = .zsh
  url = https://github.com/WRMilling/zsh-config.git
[submodule "tmux-better-mouse-mode"]
	path = .config/tmux/plugins/tmux-better-mouse-mode 
  url = https://github.com/NHDaly/tmux-better-mouse-mode.git
